$white: rgb(212, 209, 209);
$greyish: rgb(161, 161, 161);


.image {
  height: 100%;
  position: fixed;
  right: 15%;
  margin: 0;
  width: 60%;
  text-align: center;
}


.weather-container {
  background-image: linear-gradient(to bottom left, white, blue);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0%;
  width: 25%;
  text-align: right;
  font-size: 2vh;
}

@media screen and (max-width: 800px){
  .container .weather-container {
    font-size: 2vw;
  }
  .fun-message, .search__header {
    font-size: 3vh;
  }
}

.searchbar {
  background-image: linear-gradient(to bottom right, white, blue);
  position: fixed;
  right: 0;
  border: 0.5% solid $greyish;
  width: 15%;
  height: 100%;
  text-align: left;
  font-size: 2vw;
  padding-top: 35vh;
  font-family: Arial, Helvetica, sans-serif;
  input {
    width: 100%
  }
}

.error-message{
  font-size: 1vw;
  color: red;
}

.fun-message{
  font-size: 1vw;
  color: purple;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.searchbar--intro {
  position: sticky;
  top: 35%;
  left: 35%;
  width: 25vw;

  height: 12vw;
  opacity: 0.8;
  background-image: linear-gradient(to left bottom, white, grey);
  border: 1px black solid;
  border-radius: 10px;
  text-align: center;
}

.search__header {
  font-size: 2vw;
}

.search__input {
  padding: 6px 10px;
  border: 1px black solid;
  width: 80%;
  text-align: center;
  font-size: 2vw;

}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;;
}

.container--intro{
  background-image: url("https://media0.giphy.com/media/xUPGcdhiQf2vbfDCyk/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;;
  margin: 0;

}