$white: rgb(212, 209, 209);
$greyish: rgb(161, 161, 161);


.image {
  height: 100%;
  position: fixed;
  right: 15%;
  margin: 0;
  width: 55%;
  text-align: center;
}


.weather-container {
  background-image: linear-gradient(to bottom left, white, blue);
  height: 100%;
  position: fixed;
  left: 0;
  top: 0%;
  width: 25%;
  text-align: right;
  border-radius: 2px;
  padding-left: 2px;
}

.searchbar {
  background-image: linear-gradient(to bottom right, white, blue);
  position: fixed;
  right: 0;
  border: 0.5% solid $greyish;
  width: 15%;
  height: 100%;
  text-align: left;
  font-size: larger;

  font-family: Arial, Helvetica, sans-serif;
  input {
    width: 100%
  }
}

.error-message{
  font-size: smaller;
  color: red;
}

.fun-message{
  font-size: smaller;
  color: purple;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.searchbar--intro {
  position: sticky;
  top: 0;
  left: 35%;
  width: 30%;

  height: auto;
  min-height: 15%; 
  opacity: 0.9;
  background-image: linear-gradient(to left bottom, white, grey);
  border: 1px black solid;
  border-radius: 10px;
  box-shadow: 2px 2px 2px grey;
  text-align: center;
  padding-bottom: 20px;
}



.search__input {
  padding: 6px 10px;
  border: 1px black solid;
  width: 80%;
  text-align: center;
  font-size: 23px;

}

.container {
  position: relative;
  height: 640px;
  width: 100%;
}

.container--intro{
  background-image: url("https://media0.giphy.com/media/xUPGcdhiQf2vbfDCyk/giphy.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  margin: 0;
  padding-top: 20%;

}